@{ 
    var message = ViewData.Eval("Message") as string;
}


<h3>
    An error occured while processing your request. 
    The support team is notified and we are working on the fix
</h3>

<small>Error Message = @message</small>
<h5>
    Please contact us on olivenakiyemba@gmail.com
</h5>

