@model IEnumerable<Product>

@{
    ViewBag.Title = "All products";
}


<h1>All Products</h1>
<div class="card-deck">
    @foreach (Product product in Model)
    {
        var photoPath = "~/Images/" + (product.PhotoPath ?? "noimage.png");
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header">
                <h3>@product.Name</h3>
                <h4> UGX @product.Price</h4>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@product.Id"
                    class="btn btn-primary m-1">View</a>
            </div>
        </div>
    }
</div>

